{% extends "base.html" %}

{% block content %}
<div class="imagegen-container">
    <div class="iframe-wrapper">
        <iframe src="http://127.0.0.1:7863/" width="100%" height="680px" style="border: none;"></iframe>
    </div>
</div>

<style>
    .imagegen-container {
        text-align: center;
    }
    .iframe-wrapper {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    iframe {
        width: 100%;
        height: 800px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
</style>

{% endblock %}
